@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

p {
  @apply text-sm;
}

.heading {
  @apply text-lg font-semibold;
}
.label {
  @apply text-center text-sm  leading-9 tracking-tight;
}

.btn {
  @apply rounded-md  px-4 py-2 text-primary-100 hover:text-primary-700;
}
.btn3 {
  @apply rounded-md border-gray-800 bg-white px-4 py-2  text-gray-900   hover:text-primary-500;
}

.btn1 {
  @apply rounded-md bg-primary-600 px-3.5 py-2.5 text-sm  text-white shadow-sm transition delay-100 duration-500 ease-in-out hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600;
}
.btn2 {
  @apply rounded-md bg-primary-900 px-3.5 py-2.5 text-sm text-white shadow-sm transition  delay-100 duration-500 ease-in-out hover:bg-secondary-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}
.btnalt {
  @apply rounded-md bg-secondary-900 px-3.5 py-2.5 text-sm  text-white shadow-sm transition delay-100 duration-500 ease-in-out hover:bg-secondary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-700;
}

.theme-text {
  @apply text-gray-800 dark:text-gray-200;
}
.theme-text2 {
  @apply text-primary-900 dark:text-primary-50;
}
.theme-text3 {
  @apply text-white dark:text-white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary-700;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-400;
}
